.profile {
    height: 200px;
    border-bottom: 1px solid #3B3B3B;  
    padding: 10px; 
}

.profile-photo {
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}

.user-name {
    color: white;
    font-size: large;
    font-weight: 600;
    margin-left: 20px;
}

.logout > a{
    color: aqua;
    text-decoration: underline;
    font-size: small;
}

.gear {
    color: aquamarine;
    font-size: x-large;
}

.flex {
    display: flex;
}

.profile-details {
    color: white;
    font-style: italic;
    font-size: small;
}

.margin {
    margin-left: 30px;
}