#navigation {   
    width: 100%;
}
.navlink {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

#navigation li{
    
    border-bottom: 1px solid #3B3B3B; 
    padding: 20px 10px;
    
  }

  .selected {
      color: #32B1B7;
  }

 /*  .selected::after {
    content: ' \2192'
  } */


  .margin-20 {
      margin-top: 20px;
  }

  

 