.card {
    /* border: 2px solid #A9E5D9; */
   /*  border-right: 2px solid #A9E5D9; */
    width: 90%;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 3px;
    /* box-shadow: 0 8px 6px -6px grey; */
   /*  box-shadow: 1px 2px 4px 1px #ccc, -1px 2px 4px 1px #ccc; */
   
}
.card h3 {
    text-transform: uppercase;
    color: #01D0C6;
    float: left;
}

.prop-name {
    /* color: #2A8C90; */
    font-weight: 600;
    text-transform: lowercase;
}

.card hr {
    margin: 10px 0;
    border: 1px solid #A9E5D9;
    clear: both;
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid > div {
    
    margin: 0 10px;
}

.description {
    margin-top: 10px;
    font-style: italic;
}

.card-container {
    display: flex;
}

.card-container > .button-container {
    margin-left: 20px;
    padding: 10px;
}
