#logo {
    background: #1D5658; 
    padding: 1px 10px;  
    box-shadow: inset 0 0 10px #000000;
    
}

.text {
    color: white;
    
    font-size: medium;
    display: inline-block;
}
.logo__text {
    display: inline-block;
    color: #01D0C6;
    
    font-size: 14px;
}

