#lang { 
    display: flex; 
    align-items: center;
}

.lang {
  margin-right: 10px;
  background: #34B7BD;
  color: white;
  box-shadow: inset 0 0 10px #000000;
  padding: 2px 4px;
  height: 27px;
  width: 30px;
  text-align: center;
}

.lang > a:link {
  color: white;
  font-weight: 500;
}
