body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ***************************************************** */

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: medium;
  background: #202020;
}

a:link{
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

td:not(:last-child), th:not(:last-child) {
  border-right: #34B7BD 2px solid;  
}

th {
  border-bottom: #34B7BD 2px solid;
}

td, th {
  padding: 15px 10px;
}

th:nth-child(2), th:nth-child(4), td:nth-child(2), td:nth-child(4) {
  text-align: center;
}

ol .option-list {
  list-style-type:lower-latin;
  margin: 5px 20px;
}

ol .question-list{
  margin-left: 10px;
}

h3 {
  color: #444;
  text-transform: capitalize;
  font-weight: 700;
}

#body-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

#main-container {
  height: 94vh;
  display: flex;
  width: 100%;  
  margin-top: 2px;

}

#content-container {
  padding: 20px;
}

#sidebar {
  width: 20%;
  background: #2A2A2A;
}

#main {
  width: 85%;
  height: 94vh;
}

#header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  border-bottom: #01D0C6 1px solid;
}

.margin__auto {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.page-nav{
  color: #202020;
  text-align: right;
  border-bottom: 1px solid #32B1AE;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;

}

.page-nav__item {
  color: #01D0C6;
}

.clear {
  clear: both;
}

.block {
  display: block;
}

.form-card {
  
  padding: 20px;
}


.mint-button {
  font-size: medium;
  border: none;
  color: grey;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline;
}

.action-container {
  float: right;
}

.error {
  color: red;
  font-weight: 900;
}

.position-center {
  margin: auto;
}

.login-form {
  width: 300px;
  height: 100px;
  padding-top: 100px;
  
}

button, .button {
  padding: 5px 10px;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
}

.centered-button {
  margin-left: 100px;
}

.textfield {
  height: 35px;
  width: 200px;
  padding: 2px 3px;
}

.inline {
  display: inline;
}

.link {
  color: black;
  text-transform: uppercase;
  background: #8BDDC9;
}

.textarea {
  width: 400px;
  height: 100px;
}

